<div class="card">
  <div class="d-flex w-100">
    <div class="card ml-auto d-flex"
      style="width: 60px; height: 60px;">
      <div class="mx-auto my-auto text-center">
        <h5 class="mb-0">30</h5>
        May
      </div>
    </div>
  </div>

  <div class="card-content px-2 py-2">
    <div style="height: 120px"></div> <!-- placeholder for meetup hero image -->
    <hr>
    <div class="w-100 text-right">
      <h4>Tea and Tech</h4>
      <span>Secret Society BLANKET</span>
    </div>
  </div>
</div>
