<app-groups-tab-bar></app-groups-tab-bar>
<div class="d-flex" style="flex-direction: row;">
  <!-- <div style="width: auto"></div> -->

  <app-groups-sidebar class="width: 300px d-none d-md-block"></app-groups-sidebar>

  <div class="width: 100%; content mb-5" [ngClass]="showAsContainer() ? 'container' : ''">
    <div [ngClass]="showAsContainer() ? 'container' : ''">
      <div class="text-right">
        <a routerLink="/groups/new"><button class="btn btn-outline-primary" [hidden]="this.router.url !== '/groups'">
          <fa-icon [icon]="faPlus" class="mr-1"></fa-icon>
          New Group
        </button></a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
