<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Cuppa</a>
  <button class="navbar-toggler" type="button" 
    (click)="toggle()"
    data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="!toggleNavbar" id="navbarSupportedContent"
   >
  <!-- [@collapse]="navbarState"> -->

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggle()">
        <a class="nav-link" routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/groups" (click)="toggle()">
          Groups
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/meetups" (click)="toggle()">
          Meetups
        </a>
      </li>

     
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

    <div class="form-inline my-2 my-lg-0">
      <button (click)="open(content)" class="btn btn-outline-primary my-2 my-sm-0">Log in</button>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="dateOfBirth">Date of birth</label>
            <div class="input-group">
              <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                #dp="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
    </ng-template>

  </div>
</nav>
