@import '../../colors.scss';

.navbar {
    &.navbar-light {
        .nav-item {
            .nav-link {
                color: map-get($colors, "main");
            }
        }

        .nav-item.active > .nav-link {
            color: map-get($colors, "accent");
        }
    }

    background-color: map-get($colors, "navbar");
}


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
