.grid {
  display: grid;
}

.item {
  grid-area: 1/1;
}

.horizontal-scroll {
  z-index: 0;
}

.btn {
  z-index: 1; // TODO

  &.left {
    margin-left: -20px;
  }

  &.right {
    margin-right: -20px;
  }
}
