@import '../../colors.scss';

.d-grid {
  display: grid;
}

.content {
  grid-area: 1 / 1;
  min-height: calc(100vh - 59px);
}

.background {
  grid-area: 1 / 1;
  background-image: url("/assets/img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.overlay {
  grid-area: 1 / 1;
  opacity: 0.9;
  background-color: white;
  z-index: -1;
}

.container {
  max-width: 768px;
}
