<div class="d-grid">
  <div class="overlay"></div>
  <div class="content">
    <div class="container mt-5 mb-5">
      <div class="text-center display-4">
        Find and plan meetups.<br>
        Do fun stuff.
      </div>
  
      <form class="mt-4">
        <!-- TODO: prevent default-->
        <div class="form-group">
          <label for="search">Search</label>
          <input type="text" class="form-control" id="search" name="search" autocomplete="name"
            placeholder="Location, activity, group or community">
        </div>
      </form>
  
      <div class="mt-4">
        <label>Find your interests</label>
        <!-- TODO refactor to own component with < and > buttons -->
        <!-- Inject content via transclusion -->
        <app-shelf>
          <div class="card item d-flex mr-3" style="height: 200px; width: 200px">
            <span class="ml-auto mt-auto mr-2">
              <h6>Mech Keys</h6>
            </span>
          </div>
          <div class="card item d-flex mr-3" style="height: 200px; width: 200px">
            <span class="ml-auto mt-auto mr-2">
              <h6>Headphones</h6>
            </span>
          </div>
          <div class="card item d-flex mr-3" style="height: 200px; width: 200px">
            <span class="ml-auto mt-auto mr-2">
              <h6>Anime</h6>
            </span>
          </div>
          <div class="card item d-flex mr-3" style="height: 200px; width: 200px">
            <span class="ml-auto mt-auto mr-2">
              <h6>Manga</h6>
            </span>
          </div>
        </app-shelf>

        <div class="w-100 text-right">
          Shift + scroll to scroll horizontally.
        </div>
  
        <div class="mt-4">
          <label>My Groups</label>
          <app-group></app-group>
  
        </div>
      </div>
    </div>

</div>
